.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 'drukWideCyrFont', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 0 40px;
  border: none;
  cursor: pointer;
  transition:
    background 0.2s,
    color 0.2s,
    opacity 0.2s;

  &:disabled {
    cursor: not-allowed;
  }
}

@include bp.tablet {
  .button {
    height: 44px;
    font-size: 13px;
  }
}

@include bp.desktop {
  .button {
    height: 68px;
    font-size: 16px;
  }
}

.primary {
  background: #fefefe;
  color: #111;

  &:hover {
    background: #50f195;
    color: #111;
  }

  &:focus-visible {
    background: #59bb83;
    color: #111;
  }

  &:active {
    background: #111;
    color: #e7d6c6;
  }

  &:disabled {
    background: #666666;
    color: #2f2f2f4d;
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.secondary {
  background: #666666;
  color: #fefefe;

  &:hover {
    color: #50f195;
  }

  &:focus-visible {
    color: #50f195;
  }

  &:active {
    color: #59bb83;
  }

  &:disabled {
    color: #2f2f2f4d;
    opacity: 0.3;
    cursor: not-allowed;
  }
}

.leftIcon {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
}

.rightIcon {
  display: inline-flex;
  align-items: center;
  margin-left: 16px;
}
