.title {
  font-size: 1rem;

  @include bp.tablet {
    font-size: 2rem;
  }

  @include bp.desktop {
    font-size: 4.375rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 30px;

  @include bp.tablet {
    margin-top: 30px;
  }

  @include bp.desktop {
    margin-top: 80px;
    gap: 60px;
  }
}

.footer {
  display: flex;
  padding: 1rem;
  border: 1px solid var(--foreground);
  margin: 0 1rem 0.5rem;
  //margin-bottom: 0.5rem;
  font-size: smaller;
  text-align: right;
  justify-content: flex-end;
}

.separator {
  height: 1px;
  background: var(--color-grey2);
}
