$bg-color: var(--color-background1);

.blockInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;

  @include bp.tablet {
    flex-direction: row;
  }

  @include bp.desktop {
    gap: 32px;
  }
}

.infoBlockTitle {
  font-family: var(--font-secondary);
  font-size: clamp(1rem, 0.2092rem + 1.7007vw, 2.25rem);
  color: var(--color-accent-primary);
  font-weight: 700;
  margin: 0;
  text-transform: lowercase;
}

.card {
  padding: 16px 28px;
  border-radius: 40px;
  background: $bg-color;
  height: 100%;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include bp.tablet {
    width: 50%;
  }
}

.cardBlock {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.bigCard {
  .textCard {
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.5098rem + 1.2418vw, 2rem);
    color: var(--color-grey);
  }
}

.smallCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 12px;

  @include bp.tablet {
    width: 50%;
  }

  @include bp.desktop {
    gap: 32px;
  }
}

.smallCard {
  display: flex;
  align-items: center;
  height: 100%;

  @include bp.tablet {
    padding: 22px 16px;
  }

  @include bp.desktop {
    padding: 56px 40px;
  }
}

.textCard {
  font-weight: 700;
  font-size: clamp(0.8125rem, 0.5735rem + 0.9804vw, 1.75rem);
  color: var(--color-accent-primary);
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  .titleCard {
    font-size: clamp(0.8125rem, 0.5735rem + 0.9804vw, 1.75rem);
    font-weight: 700;
    color: var(--color-accent-primary);
    margin-bottom: 8px;
  }

  .textCard {
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.701rem + 0.4575vw, 1.25rem);
    color: var(--color-grey);
  }
}

.cardBlock {
  :global([class*='content']) {
    flex: 1 !important;
  }
}
