$bg-color: var(--color-background1);
$bg-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1800 700" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noise"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%" height="100%" filter="url(%23noise)" opacity="0.15"/%3E%3C/svg%3E');

@mixin pseudoTop($pseudoRadius) {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -$pseudoRadius;
    width: $pseudoRadius;
    height: $pseudoRadius;
    background-color: rgba(var(--color-background1), 0.8);
    backdrop-filter: blur(25px);
    background-image: $bg-image;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);

    @supports (
      mask-image: radial-gradient(
          circle at top left,
          transparent 0%,
          transparent $pseudoRadius,
          black $pseudoRadius,
          black 100%
        )
    ) {
      clip-path: none;
      mask-image: radial-gradient(
        circle at top left,
        transparent 0%,
        transparent $pseudoRadius,
        black $pseudoRadius,
        black 100%
      );
      mask-mode: alpha;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -$pseudoRadius;
    right: 0;
    width: $pseudoRadius;
    height: $pseudoRadius;
    background-color: rgba(var(--color-background1), 0.8);
    backdrop-filter: blur(25px);
    background-image: $bg-image;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);

    @supports (
      mask-image: radial-gradient(
          circle at bottom left,
          transparent 0%,
          transparent $pseudoRadius,
          black $pseudoRadius,
          black 100%
        )
    ) {
      clip-path: none;
      mask-image: radial-gradient(
        circle at bottom left,
        transparent 0%,
        transparent $pseudoRadius,
        black $pseudoRadius,
        black 100%
      );
      mask-mode: alpha;
    }
  }
}

.blockInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;

  @include bp.tablet {
    flex-direction: row;
  }

  @include bp.desktop {
    gap: 32px;
  }
}

.infoBlockTitle {
  font-family: var(--font-secondary);
  font-size: clamp(1rem, 0.2092rem + 1.7007vw, 2.25rem);
  color: var(--color-accent-primary);
  font-weight: 700;
  margin: 0;
  text-transform: lowercase;
}

.card {
  padding: 16px 28px;
  border-radius: 40px;
  background: $bg-color;
  height: 100%;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include bp.tablet {
    width: 50%;
  }
}

.cardBlock {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

.infoCard {
  .textCard {
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.5098rem + 1.2418vw, 2rem);
    color: var(--color-grey);
  }
}

.smallCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 12px;

  @include bp.tablet {
    width: 50%;
  }

  @include bp.desktop {
    gap: 32px;
  }
}

.smallCard {
  display: flex;
  align-items: center;
  height: 100%;
  white-space: pre-wrap;

  @include bp.tablet {
    padding: 22px 16px;
  }

  @include bp.desktop {
    padding: 56px 40px;
  }
}

.textCard {
  font-weight: 700;
  font-size: clamp(0.8125rem, 0.5735rem + 0.9804vw, 1.75rem);
  color: var(--color-accent-primary);
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  .titleCard {
    font-size: clamp(0.8125rem, 0.5735rem + 0.9804vw, 1.75rem);
    font-weight: 700;
    color: var(--color-accent-primary);
    margin-bottom: 8px;
  }

  .textCard {
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.701rem + 0.4575vw, 1.25rem);
    color: var(--color-grey);
  }
}

.cardBlock {
  :global([class*='content']) {
    flex: 1 !important;
  }
}

// -------

.container {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;

  .topContainer {
    display: flex;
    align-items: stretch;
    position: relative;
    min-height: 2rem;

    @include bp.tablet {
      min-height: 2rem;
    }

    .topContent {
      flex-shrink: 0;
      padding: 0 0.5rem 0.5rem 0;

      @include bp.tablet {
        padding: 0.9rem 0.9rem 0.9rem 0;
      }

      @include bp.desktop {
        padding: 0 2rem 2.3rem 0;
      }
    }

    .space {
      flex-grow: 1;
      border-radius: 1rem 1rem 0 0;
      position: relative;
      background-image: $bg-image;
      background-clip: content-box;
      backdrop-filter: blur(25px);
      background-color: rgba(var(--color-background1), 0.8);

      @include pseudoTop(1rem);

      @include bp.tablet {
        @include pseudoTop(1.6rem);

        & {
          border-radius: 1rem 1rem 0 0;
        }
      }

      @include bp.desktop {
        @include pseudoTop(2rem);

        & {
          border-radius: 2rem 2rem 0 0;
        }
      }
    }
  }

  .content {
    background-color: rgba(var(--color-background1), 0.8);
    padding: 0.75rem;
    border-radius: 1.5rem 1rem 1.5rem 1.5rem;
    background-image: $bg-image;
    backdrop-filter: blur(25px);

    @include bp.tablet {
      border-radius: 2.5rem 1rem 2.5rem 2.5rem;
      padding: 1.6rem;
    }

    @include bp.desktop {
      border-radius: 3rem 2rem 3rem 3rem;
      padding: 2.5rem;
    }
  }
}
