$bg-color: var(--color-background1);

.blockInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;

  @include bp.tablet {
    flex-direction: row;
  }

  @include bp.desktop {
    gap: 32px;
  }
}

.topContainer {
  position: relative;
  display: flex;
  flex-shrink: 0;

  .title {
    flex-shrink: 0;
    padding: 9px 13px 8px 0;
    font-family: var(--font-secondary);
    font-size: clamp(1rem, 0.2092rem + 1.7007vw, 2.25rem);

    @include bp.tablet {
      padding: 7px 7px 8px 0;
    }

    @include bp.desktop {
      padding: 0 70px 21px 0;
    }
  }

  .space {
    flex-grow: 1;
    background-color: $bg-color;
    border-radius: 18px 30px 0 0;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: -20px;
      width: 20px;
      height: 21px;
      background-color: $bg-color;
      mask-image: radial-gradient(circle at top left, transparent 0%, transparent 20px, black 20px, black 100%);
      mask-mode: alpha;
    }
  }
}

.card {
  padding: 16px 28px;
  border-radius: 40px;
  background: $bg-color;
  height: 100%;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;

  @include bp.tablet {
    width: 50%;
  }
}

.bigCard {
  flex: 1;

  .cardWrapper:has(.topContainer) & {
    border-top-right-radius: 0;
  }

  .textCard {
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.5098rem + 1.2418vw, 2rem);
    color: var(--color-grey);
  }

  @include bp.tablet {
    padding: 24px 25px;
  }

  @include bp.desktop {
    padding: 66px 45px;
  }
}

.smallCards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 12px;

  @include bp.tablet {
    width: 50%;
  }

  @include bp.desktop {
    gap: 32px;
  }
}

.smallCard {
  display: flex;
  align-items: center;
  height: 100%;

  @include bp.tablet {
    padding: 22px 16px;
  }

  @include bp.desktop {
    padding: 56px 40px;
  }
}

.textCard {
  font-weight: 700;
  font-size: clamp(0.8125rem, 0.5735rem + 0.9804vw, 1.75rem);
  color: var(--color-accent-primary);
}

.cardContent {
  display: flex;
  flex-direction: column;
  height: 100%;

  .titleCard {
    font-size: clamp(0.8125rem, 0.5735rem + 0.9804vw, 1.75rem);
    font-weight: 700;
    color: var(--color-accent-primary);
    margin-bottom: 8px;
  }

  .textCard {
    font-weight: 400;
    font-size: clamp(0.8125rem, 0.701rem + 0.4575vw, 1.25rem);
    color: var(--color-grey);
  }
}
