.title {
  margin: 0;
  margin-block-end: 20px;
  text-transform: lowercase;
  font-size: clamp(1rem, 0.1397rem + 3.5294vw, 4.375rem);

  @include bp.tablet {
    margin-block-end: 28px;
  }

  @include bp.desktop {
    margin-block-end: 100px;
  }
}

.heroSection {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include bp.tablet {
    flex-direction: row;
    gap: 20px;
  }

  @include bp.desktop {
    gap: 60px;
  }
}

.heroSection__info {
  width: 100%;

  @include bp.tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
  }
}

.heroSection__description {
  margin-block-end: 16px;
  font-size: clamp(0.8125rem, 0.5098rem + 1.2418vw, 2rem);
}

.heroSection__tags {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.heroSection__tag {
  padding: 8px;
  border-radius: 40px;
  font-size: clamp(0.6875rem, 0.3316rem + 0.7653vw, 1.25rem);
  background-color: var(--color-background1);
  color: var(--color-accent-primary);

  @include bp.desktop {
    padding: 12px 16px;
  }
}
