.wrapper {
  //position: relative;
}

.image {
  //margin: 32px 0;
  //width: 100%;
  //height: 250px;
  //
  //@include bp.tablet {
  //  margin: 0;
  //  height: 205px;
  //}
  //
  //@include bp.desktop {
  //  height: 100%;
  //}
}
