.bottomContainer {
  position: relative;
  display: block;
  visibility: visible;

  @include bp.tablet {
    position: absolute !important;
    display: none;
    visibility: hidden;
  }

  @include bp.desktop {
    position: relative !important;
    display: block;
    visibility: visible;
  }
}

.title {
  font-size: 16px;
  font-family: var(--font-secondary);
  font-weight: 700;
  color: var(--color-grey);
  padding-bottom: 2px;

  @include bp.tablet {
    font-size: 32px;
    text-transform: lowercase;
    padding-right: 14px;
  }

  @include bp.desktop {
    font-size: 70px;
    padding-right: 14px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: 100%;
  padding: 0;

  @include bp.tablet {
    gap: 0;
  }

  @include bp.desktop {
    gap: 0;
  }
}

.markdown {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 12px;
  white-space: pre-line;
  font-weight: 400;
  color: var(--color-grey);

  & p {
    line-height: 1;
  }

  @include bp.tablet {
    font-size: 16px;
    gap: 18px;
  }

  @include bp.desktop {
    font-size: 32px;
    gap: 24px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.cardsTitle {
  font-size: 15px;
  font-weight: 400;
  font-family: var(--font-main);
  color: var(--color-accent-primary);
  text-transform: none;
  padding: 25px 0 10px 0;

  @include bp.tablet {
    font-size: 16px;
    padding: 24px 0 24px 0;
  }

  @include bp.desktop {
    font-size: 40px;
    padding: 42px 0 38px 0;
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding-bottom: 15px;

  @include bp.tablet {
    gap: 24px;
    padding-bottom: 24px;
  }

  @include bp.desktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(552px, 1fr));
    gap: 24px;
    padding-bottom: 32px;
  }
}

.bottomAsMain {
  display: flex;

  @include bp.tablet {
    display: none;
  }

  @include bp.desktop {
    display: flex;
  }
}

.bottomAsFooter {
  display: none;

  @include bp.tablet {
    display: grid;
    width: 100%;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
    padding-top: 24px;
    //border: 1px solid red;
  }

  @include bp.desktop {
    display: none;
  }
}

.bottomContent {
  justify-content: center;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;

  @include bp.tablet {
    gap: 24px;
  }

  @include bp.desktop {
    gap: 24px;
  }
}

.bottomButton {
  padding: 12px 17px;
  font-size: 11px;

  @include bp.tablet {
    padding: 14px 49px;
    width: calc(50% - 13px);
    font-size: 13px;
  }

  @include bp.desktop {
    padding: 24px 40px;
    width: 367px;
    font-size: 16px;
  }

  & span {
    display: none;

    @include bp.tablet {
      display: inline;
    }

    @include bp.desktop {
      display: inline;
    }
  }
}

.bottomButtonAsFooter {
  width: 100%;
  //border: 1px solid yellow;
}

.bottomSubButtonAsFooter {
  width: 100%;
}

.buttonFullText {
  display: none;

  @include bp.tablet {
    display: inline;
  }

  @include bp.desktop {
    display: inline;
  }
}

.modalContent {
  width: 100%;
  padding: 0 1.5rem;
  margin: 0 auto;

  @include bp.tablet {
    padding: 0 2rem;
  }

  @include bp.desktop {
    padding: 0;
  }
}

.tabContent {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & img {
    padding: 12px;
    max-height: 50vh;
    object-fit: contain;
    max-width: 100%;
  }
}

.tabContentImage {
  width: 100%;
  height: 100%;
}