.cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  color: var(--color-grey);
}

.title {
  block-size: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.button {
  min-block-size: 38px;
  min-inline-size: 282px;

  span {
    font-weight: 700;
    font-size: 11px;
  }
}

.long {
  display: none;
}

.bottomContainer {
  position: relative;
  display: block;
  visibility: visible;

  @include bp.tablet {
    position: absolute !important;
    display: none;
    visibility: hidden;
  }

  @include bp.desktop {
    position: relative !important;
    display: block;
    visibility: visible;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

@include bp.tablet {
  .cards {
    gap: 24px;
  }

  .title {
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
    block-size: 70px;
  }

  .description {
    color: var(--color-white);
  }

  .button {
    inline-size: 100%;

    span {
      font-size: 13px;
    }
  }

  .long {
    display: block;
  }

  .short {
    display: none;
  }

  .hidden {
    display: block;
    visibility: initial;
  }
}

@include bp.desktop {
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(552px, 1fr));
  }

  .description {
    font-weight: 400;
    color: var(--color-grey);
  }

  .title {
    font-size: 40px;
    font-weight: 400;
    block-size: 125px;
  }

  .hidden {
    display: none;
    visibility: hidden;
  }

  .button {
    min-inline-size: 758px;

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
}

.markdownBody {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 400;
  color: var(--color-grey);

  & p {
    font-size: clamp(0.75rem, 0.333rem + 1.389vi, 2rem);
    line-height: 1;
  }

  @include bp.tablet {
    gap: 18px;
  }

  @include bp.desktop {
    gap: 24px;
  }
}
