.cards {
  display: grid;
  gap: 8px;
}

.description {
  font-size: 12px;
  white-space: pre-line;
  color: var(--color-grey);
}

.title {
  block-size: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.button {
  min-block-size: 38px;
  min-inline-size: 282px;

  span {
    font-weight: 700;
    font-size: 11px;
  }
}

.long {
  display: none;
}

.bottomContainer {
  position: relative;
  display: block;
  visibility: visible;

  @include bp.tablet {
    position: absolute !important;
    display: none;
    visibility: hidden;
  }

  @include bp.desktop {
    position: relative !important;
    display: block;
    visibility: visible;
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

@include bp.tablet {
  .cards {
    gap: 24px;
  }

  .title {
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
    block-size: 70px;
  }

  .description {
    font-size: 16px;
    color: var(--color-white);
  }

  .button {
    min-inline-size: 632px;

    span {
      font-size: 13px;
    }
  }

  .long {
    display: block;
  }

  .short {
    display: none;
  }

  .hidden {
    display: block;
    visibility: initial;
  }

  .subtext {
    white-space: pre-line;
    line-height: 1.1;
  }
}

@include bp.desktop {
  // .bottomContainer {
  //   position: relative;
  //   display: block;
  //   visibility: initial;
  // }

  .cards {
    grid-template-columns: repeat(3, 552px);
    // margin-block-end: 35px;
  }

  .description {
    font-size: 32px;
    font-weight: 400;
    white-space: initial;
    inline-size: 1432px;
    color: var(--color-grey);
  }

  .title {
    font-size: 40px;
    font-weight: 400;
    block-size: 125px;
  }

  .hidden {
    display: none;
    visibility: hidden;
  }

  .button {
    min-inline-size: 758px;

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
}