.container {
  // padding: 12px 12px 8px 12px;

  @include bp.tablet {
    padding: 20px;
  }

  @include bp.desktop {
    padding: 48px 48px 51px 48px;
  }
}

.md {
  border-radius: 20px;
}

.lg {
  border-radius: 40px;
}

.light-grey,
.grey {
  position: relative;
  overflow: hidden;
  background-image: var(--noise-img);
  //z-index: -1;

  //&::before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: inherit;
  //  opacity: 0.8; // Adjust transparency of noise
  //  //z-index: -2;
  //  filter: brightness(0.6);
  //}

  //&::after {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-image: url('data:image/svg+xml,<svg viewBox="0 0 500 800" xmlns="http://www.w3.org/2000/svg"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noise)"/></svg>');
  //  opacity: 0.2; // Adjust noise intensity
  //}
}

.light-grey {
  background-color: var(--color-background2);
}

.grey {
  background-color: var(--color-background1);
}

.black {
  background-color: var(--color-background);
  //position: relative;
  //overflow: hidden;
  //z-index: -1;

  //background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1800 600" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noise"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%" height="100%" filter="url(%23noise)" opacity="0.15"/%3E%3C/svg%3E');

  //&::before {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background: inherit;
  //  opacity: 0.8; // Adjust transparency of noise
  //  z-index: -1;
  //  filter: brightness(0.01);
  //}
  //
  //&::after {
  //  content: '';
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-image: url('data:image/svg+xml,<svg viewBox="0 0 500 800" xmlns="http://www.w3.org/2000/svg"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noise)"/></svg>');
  //  opacity: 0.2;
  //}
}

.none {
  background-color: transparent;
  background-image: none;
}

.primary {
  background-color: var(--color-accent-primary);
}
