//.container {
//  width: 100%;
//  max-width: 1800px;
//  margin: 0 auto;
//  padding: 0 1.5rem;
//
//  @include bp.tablet {
//    padding: 0 2rem;
//  }
//
//  @include bp.desktop {
//    padding: 0;
//  }
//}
