.inputWrapper {
  display: flex;
  gap: 4px;
  margin-left: 0;
  flex-direction: column;
}

.inputContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 0;
  align-items: flex-start;
}

.inputContent input {
  margin-left: 0;
  padding-left: 0;
}

.inputLabel {
  color: #fff;
  font-family: 'drukWideCyrFont', sans-serif;
  font-weight: 700;
  margin-bottom: 4px;
  text-transform: uppercase;
}

@include bp.tablet {
  .inputWrapper {
    flex-direction: column;
  }

  .inputLabel {
    font-size: 16px;
  }
  .inputContent {
    font-size: 20px;
  }
  .supportingText {
    font-size: 14px;
  }

  .inputField {
    width: 100%;
  }

  .clearButton {
    top: -12px;
  }
}

@include bp.desktop {
  .inputWrapper {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
  .inputLabel {
    margin-bottom: 0;
    min-width: 479px;
    text-align: left;
    align-self: flex-start;
    margin-left: 0;
    font-size: 32px;
  }
  .inputContent {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .supportingText {
    margin-top: 8px;
    margin-left: 0;
    white-space: normal;
    font-size: 24px;
  }

  .inputField {
    align-self: flex-start;
    width: 100%;
    font-size: 32px;
  }
  .clearButton {
    top: 0;
  }
}

.inputField {
  background: transparent;
  border: none;
  border-bottom: 3px solid #fff;
  color: #fff;
  font-weight: 400;
  font-family: 'manropeFont', sans-serif;
  outline: none;
  padding: 0 0 4px 0;
  transition: border-color 0.2s;
  width: 100%;
}

.inputField:focus {
  border-bottom: 3px solid #5de19c;
}

.inputField:focus.error {
  border-bottom: 3px solid #e15d5d;
}

.supportingText {
  color: #fff;
  font-family: 'manropeFont', sans-serif;
  font-weight: 500;
  margin-top: 4px;
  text-align: left;
  align-self: flex-start;
}

.supportingText.error {
  color: #e15d5d;
}
