.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.875rem;
  border: 1px solid var(--foreground);
  // margin: 0 1rem;
  margin: 0.5rem auto 0;
  color: var(--foreground);
  width: 100%;
  max-width: 1800px;

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .middleSection {
    flex-grow: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;
  }
}
