.header {
  display: flex;
  gap: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--foreground);
  width: 100%;
  padding: 0 clamp(1.5rem, 0.926rem + 2.353vi, 3.75rem);

  @include bp.tablet {
    // padding: 1.5rem 2rem;
  }

  @include bp.desktop {
    margin: 48px auto 40px;
  }

  //добавить mobile
}

.logoSection {
  display: flex;
  align-items: center;
}

.menuSection {
  // display: flex;
  // align-items: center;
  // flex: 1 1 auto;
  // justify-content: flex-end;
}

.buttonSection {
  display: flex;
  align-items: center;
}

.desktopMenu {
  display: none;

  @include bp.desktop {
    display: flex;
  }
}

.mobileMenu {
  display: flex;

  @include bp.desktop {
    display: none;
  }
}

.buttonSection {
  display: none;

  @include bp.desktop {
    display: inline-flex;
  }
}

.desktopMenuContainer {
  display: flex;
  justify-content: space-between;
}
