@import '../../app/styles/bp.scss';
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--foreground);
  margin: 0 25px 6px;
  color: var(--foreground);
  width: 93%;
  max-width: 1800px;

  @include tablet {
    margin: 32px 33px;
  }

  @include desktop {
    margin: 48px 90px 40px;
    width: 90.5%;
  }

  //добавить mobile
}

.logoSection {
  display: flex;
  align-items: center;
}

.menuSection {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.buttonSection {
  display: flex;
  align-items: center;
}

.desktopMenu {
  display: none;
  @include desktop {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.mobileMenu {
  display: flex;
  @include desktop {
    display: none;
  }
}

.buttonSection {
  display: none;
  @include desktop {
    display: inline-flex;
  }
}

.desktopMenuContainer {
  display: flex;
  justify-content: space-between;
}
