.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--foreground);
  margin: 0 auto;
  color: var(--foreground);
  width: 100%;
  padding: 1rem 1.5rem 0.5rem;

  @include bp.tablet {
    padding: 1.5rem 2rem;
  }

  @include bp.desktop {
    max-width: 1800px;
    margin: 50px auto;
  }

  //добавить mobile
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 1.5rem 0;

  @include bp.tablet {
    padding: 0 2rem 0;
  }

  @include bp.desktop {
    padding: 0;
  }
}

.logoSection {
  display: flex;
  align-items: center;
}

.menuSection {
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  justify-content: flex-end;
}

.buttonSection {
  display: flex;
  align-items: center;
}

.desktopMenu {
  display: none;
  @include bp.desktop {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.mobileMenu {
  display: flex;
  @include bp.desktop {
    display: none;
  }
}

.buttonSection {
  display: none;
  @include bp.desktop {
    display: inline-flex;
  }
}

.desktopMenuContainer {
  display: flex;
  justify-content: space-between;
}
