@use 'sass:math';

$radius: 20px;

$big-radius: math.div($radius, 2) * 3;
$bg-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1800 700" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noise"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%" height="100%" filter="url(%23noise)" opacity="0.15"/%3E%3C/svg%3E');

.container {
  margin-block-start: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -webkit-gap: 11px;
  -ms-gap: 11px;
  gap: 11px;
  width: 100%;

  @include bp.tablet {
    margin-block-start: 60px;
    -webkit-gap: 24px;
    -ms-gap: 24px;
    gap: 24px;
    margin-inline: auto;
    max-width: 1500px;
    min-height: 495px;
    max-height: 850px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-areas:
      'f f f s h h'
      'f f f r r i'
      'f f f x x x';
  }

  @include bp.desktop {
    margin-block-start: 150px;
    max-width: 1800px;
    -webkit-gap: 32px;
    -ms-gap: 32px;
    gap: 32px;
    display: -ms-grid;
    display: grid;
    min-height: 858px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-areas:
      'f f f f s h h'
      'f f f f r r i'
      'f f f f x x x';
  }
}

.markdown {
  margin: 0;
  padding: 0;
}

.containerFirst,
.containerSecond {
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.cardContent {
  font-size: 12px !important;
  line-height: 120%;
  @include bp.tablet {
    font-size: clamp(0.6875rem, 0.178rem + 1.1017vw, 1.5rem) !important;
  }
  @include bp.desktop {
    font-size: 24px !important;
  }
}

.cardContent:last-of-type {
  background-color: transparent;
}

.card {
  z-index: 1111;
  font-size: 12px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 12px;
  min-height: 132px;

  @include bp.tablet {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    padding: 20px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: bottom;
    font-size: clamp(0.6875rem, 0.178rem + 1.1017vw, 1.5rem);
  }
  @include bp.desktop {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 24px;
    padding: 48px;
  }
}

.firstCardContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-gap: 27px;
  -ms-gap: 27px;
  gap: 27px;
  height: 100%;
  width: 100%;
  z-index: 5;

  @include bp.tablet {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-gap: 32px;
    -ms-gap: 32px;
    gap: 32px;
  }

  @include bp.desktop {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
  }
}

.firstCard {
  width: 100%;
  min-height: 340px;
  size: 16px;

  @include bp.tablet {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: f;
    -ms-flex-item-align: stretch;
    -webkit-align-self: stretch;
    align-self: stretch;
    min-width: 269px;
    max-width: 730px;
    height: 100%;
    padding: 21px 23px;
  }

  @include bp.desktop {
    min-width: 731px;
    max-height: 858px;
    padding: 48px;
  }
}

.secondCard {
  padding-inline: 10px;
  @include bp.tablet {
    padding-inline: 24px;
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: s;
    -ms-flex-item-align: start;
    -webkit-align-self: flex-start;
    align-self: flex-start;
  }
}

.thirdCard {
  line-height: 60%;
  @include bp.tablet {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
    -ms-grid-column-span: 2;
    grid-area: h;
  }
}

.fourthCard {
  @include bp.tablet {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 2;
    grid-area: r;
  }
}

.fifthCard {
  padding-inline: 6px;
  @include bp.tablet {
    padding-inline: 6px;
    -ms-grid-row: 2;
    -ms-grid-column: 6;
    grid-area: i;
  }
}

.thirdCard,
.fourthCard {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 55%;
  -ms-flex-preferred-size: 55%;
  flex-basis: 55%;
  height: 132px;

  @include bp.tablet {
    min-width: 250px;
    min-height: 145px;
    max-height: 250px;
  }
  @include bp.desktop {
    min-width: 731px;
    height: 264px;
  }
}

.sixthCard {
  width: 100%;
  background-color: transparent;
  @include bp.tablet {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
    -ms-grid-column-span: 3;
    grid-area: x;
  }
  @include bp.desktop {
    min-width: 731px;
  }
}

.secondCard,
.fifthCard {
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  color: var(--color-foreground);
  font-weight: 700;
  white-space: wrap;
  font-family: var(--font-secondary);
  text-align: center !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70px;
  max-width: 94px;
  height: 132px;
  font-size: 20px;
  -webkit-border-radius: 40px !important;
  -moz-border-radius: 40px !important;
  border-radius: 40px !important;

  @include bp.tablet {
    -webkit-flex-grow: unset;
    -ms-flex-positive: unset;
    flex-grow: unset;
    min-width: 94px;
    max-width: 274px;
    min-height: 145px;
    max-height: 250px;
    font-size: clamp(1rem, -0.3326rem + 2.8814vw, 1.8rem);
  }

  @include bp.desktop {
    width: 274px;
    height: 265px;
    font-size: 52px;
  }
}

.card:last-of-type {
  background-color: transparent;
  height: unset;
  padding: 0;
}

.button {
  width: 138px;
  height: 38px;
  border: transparent;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  padding-block: 12.5px;
  padding-inline: auto;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 700;
  font-family: var(--font-secondary);

  @include bp.tablet {
    width: 233px;
    height: 38px;
    font-size: 11px;
  }

  @include bp.desktop {
    width: 432px;
    height: 68px;
    font-size: 16px;
    padding: 20px;
  }
}

.logoContainer,
.logo {
  z-index: 3;
  height: 131px;
  width: 131px;
  @include bp.tablet {
    height: 207px;
    width: 207px;
  }
  @include bp.desktop {
    height: 350px;
    width: 350px;
  }
}

.container_radius {
  display: block;
  width: 100%;
  position: relative;

  .content {
    background-image: $bg-image;
    background-color: var(--color-background1);
    padding: 0.75rem;
    -webkit-border-radius: 40px 40px 40px 0;
    -moz-border-radius: 40px 40px 40px 0;
    border-radius: 40px 40px 40px 0;

    @include bp.tablet {
      padding: 20px 20px 10px 20px;
    }

    @include bp.desktop {
      padding: 48px 48px 30px 48px;
    }
  }

  .bottomContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    position: relative;
    height: max-content;

    .bottomContent {
      position: relative;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      padding: 15px 0px 0 1.2rem;

      @include bp.tablet {
        padding: 20px 0 0 1.625rem;
      }

      @include bp.desktop {
        padding: 1rem 2px 4px 1.5rem;
      }
    }

    .space {
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -webkit-border-radius: 0 0 30px 40px;
      -moz-border-radius: 0 0 30px 40px;
      border-radius: 0 0 30px 40px;
      position: relative;
      background-color: var(--color-background1);
      background-image: $bg-image;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -$radius;
        width: $radius;
        height: $radius;
        background-color: var(--color-background1);
        background-image: $bg-image;

        -webkit-clip-path: polygon(0% 0%, 200% 0%, 0% 100%);
        clip-path: polygon(0% 0%, 200% 0%, 0% 100%);

        @supports (
          (
              -webkit-mask-image: radial-gradient(
                  circle at bottom right,
                  transparent 0%,
                  transparent $radius,
                  black $radius,
                  black 100%
                )
            )
            or
            (
              mask-image: radial-gradient(
                  circle at bottom right,
                  transparent 0%,
                  transparent $radius,
                  black $radius,
                  black 100%
                )
            )
        ) {
          -webkit-clip-path: none;
          clip-path: none;
          -webkit-mask-image: radial-gradient(
            circle at bottom right,
            transparent 0%,
            transparent $radius,
            black $radius,
            black 100%
          );
          mask-image: radial-gradient(
            circle at bottom right,
            transparent 0%,
            transparent $radius,
            black $radius,
            black 100%
          );
          -webkit-mask-mode: alpha;
          mask-mode: alpha;
        }
      }
    }
  }
}

.subTitle {
  display: block;
  align-self: flex-start;
  width: 98%;
  font-size: 16px;

  @include bp.tablet {
    font-size: 12px;
    width: 78%;
    line-height: 100%;
  }

  @include bp.desktop {
    width: 70%;
    font-size: 24px;
  }
}

.footerCard {
  display: flex;
  flex-direction: column;
  font-weight: 400 !important;
  gap: 4px;

  @include bp.tablet {
    gap: 4px;
  }

  @include bp.desktop {
    gap: 12px;
  }
}

.whiteText {
  color: var(--color-grey);

  line-height: 100%;

  @include bp.tablet {
    line-height: 130%;
  }

  @include bp.desktop {
    line-height: 130%;
  }
}

.primaryText {
  color: var(--color-accent-primary);
  line-height: 100%;

  @include bp.tablet {
    line-height: 130%;
  }

  @include bp.desktop {
    line-height: 130%;
  }
}

.greyText {
  color: var(--color-grey2);
  line-height: 130%;
  @include bp.tablet {
  }

  @include bp.desktop {
  }
}

.fontMain {
  font-family: var(--font-main);
}

.fontSecondary {
  font-family: var(--font-secondary);
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 600;
}

.normal {
  font-weight: 500;
}

.light {
  font-weight: 400;
}

.titleFontBig {
  font-size: 18px;

  @include bp.tablet {
    font-size: 14px;
  }

  @include bp.desktop {
    font-size: 40px;
  }
}

.titleFontMedium {
  font-size: 16px;

  @include bp.tablet {
    font-size: 14px;
  }

  @include bp.desktop {
    font-size: 38px;
  }
}

.titleFontNormal {
  font-size: 12px;
  @include bp.tablet {
    font-size: 11px;
  }

  @include bp.desktop {
    font-size: 24px;
  }
}

.titleFontSmall {
  @include bp.tablet {
  }

  @include bp.desktop {
    font-size: 20px;
  }
}
