@use 'sass:math';

// var(--color-background1): var(--color-background1); //oklch(255 0 0 / 0.2);
$radius: 1rem;
$big-radius: math.div($radius, 2) * 3;
$bg-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noise"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%" height="100%" filter="url(%23noise)" opacity="0.15"/%3E%3C/svg%3E');

.container {
  display: block;
  width: 100%;
  position: relative;

  .topContainer {
    display: flex;
    align-items: stretch;
    position: relative;

    .topContent {
      flex-shrink: 0;
      padding: 0 0.2rem 0.5rem 0;
      @include bp.tablet {
        padding: 0 1.625rem 1.375rem 0;
      }

      @include bp.desktop {
        padding: 0 4.375rem 1.3rem 0;
      }
    }

    .space {
      flex-grow: 1;
      background-color: var(--color-background1);
      border-radius: $radius $radius 0 0;
      position: relative;

      background-image: $bg-image;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -$radius;
        width: $radius;
        height: $radius;
        background-color: $bg-color;
        background-image: $bg-image;

        clip-path: polygon(0% 100%, 100% 0%, 100% 100%);

        @supports (
          mask-image: radial-gradient(
              circle at top left,
              transparent 0%,
              transparent $radius,
              black $radius,
              black 100%
            )
        ) {
          clip-path: none;
          mask-image: radial-gradient(
            circle at top left,
            transparent 0%,
            transparent $radius,
            black $radius,
            black 100%
          );
          mask-mode: alpha;
        }
      }
    }
  }

  .content {
    background-color: var(--color-background1);
    padding: 0.75rem;
    border-radius: $radius 0 $radius 0;

    background-image: $bg-image;
    @include bp.tablet {
      padding: 1.5rem;
    }

    @include bp.desktop {
      padding: 3rem;
    }
  }

  .bottomContainer {
    display: flex;
    align-items: stretch;
    position: relative;

    .bottomContent {
      position: relative;
      flex-shrink: 0;
      padding: 0.5rem 0 0 0.2rem;

      @include bp.tablet {
        padding: 1.375rem 0 0 1.625rem;
      }

      @include bp.desktop {
        padding: 1.3rem 0 0 4.375rem;
      }
    }

    .space {
      flex-grow: 1;
      background-color: var(--color-background1);
      border-radius: 0 0 $radius $radius;
      position: relative;

      background-image: $bg-image;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -$radius;
        width: $radius;
        height: $radius;
        background-color: $bg-color;
        background-image: $bg-image;

        clip-path: polygon(0% 0%, 100% 0%, 0% 100%);

        @supports (
          mask-image: radial-gradient(
              circle at bottom right,
              transparent 0%,
              transparent $radius,
              black $radius,
              black 100%
            )
        ) {
          clip-path: none;
          mask-image: radial-gradient(
            circle at bottom right,
            transparent 0%,
            transparent $radius,
            black $radius,
            black 100%
          );
          mask-mode: alpha;
        }
      }
    }
  }
}
