@use 'sass:math';

$bg-color: rgba(47, 47, 47, 0.3); //oklch(255 0 0 / 0.2);
$radius: 1rem;
$big-radius: math.div($radius, 2) * 3;

.container {
  display: block;
  width: 100%;
  position: relative;

  .topContainer {
    display: flex;
    align-items: stretch;
    position: relative;

    .topContent {
      flex-shrink: 0;
      padding: 0 0.2rem 0.5rem 0;

      @include bp.tablet {
        padding: 0 1.625rem 1.375rem 0;
      }

      @include bp.desktop {
        padding: 0 4.375rem 1.3rem 0;
      }
    }

    .space {
      flex-grow: 1;
      background-color: $bg-color;
      border-radius: $radius $radius 0 0;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: -$radius;
        width: $radius;
        height: $radius;
        background-color: $bg-color;
        mask-image: radial-gradient(circle at top left, transparent 0%, transparent $radius, black $radius, black 100%);
        mask-mode: alpha;
      }
    }
  }

  .content {
    background-color: $bg-color;
    padding: 1rem;
    border-radius: $radius 0 $radius 0;
  }

  .bottomContainer {
    display: flex;
    align-items: stretch;
    position: relative;

    .bottomContent {
      position: relative;
      flex-shrink: 0;
      padding: 0.5rem 0 0 0.2rem;

      @include bp.tablet {
        padding: 1.375rem 0 0 1.625rem;
      }

      @include bp.desktop {
        padding: 1.3rem 0 0 4.375rem;
      }
    }

    .space {
      flex-grow: 1;
      background-color: $bg-color;
      border-radius: 0 0 $radius $radius;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: -$radius;
        width: $radius;
        height: $radius;
        background-color: $bg-color;
        mask-image: radial-gradient(
          circle at bottom right,
          transparent 0%,
          transparent $radius,
          black $radius,
          black 100%
        );
        mask-mode: alpha;
      }
    }
  }
}
