@use 'sass:math';

//$radius: 1rem;
//$big-radius: math.div($radius, 2) * 3;
$bg-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1800 600" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noise"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%" height="100%" filter="url(%23noise)" opacity="0.15"/%3E%3C/svg%3E');

@mixin pseudoBefore($pseudoRadius) {
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -$pseudoRadius;
    width: $pseudoRadius;
    height: $pseudoRadius;
    background-color: var(--color-background1);
    background-image: $bg-image;

    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);

    @supports (
          mask-image: radial-gradient(
              circle at top left,
              transparent 0%,
              transparent $pseudoRadius,
              black $pseudoRadius,
              black 100%
            )
        ) {
      clip-path: none;
      mask-image: radial-gradient(
                      circle at top left,
                      transparent 0%,
                      transparent $pseudoRadius,
                      black $pseudoRadius,
                      black 100%
      );
      mask-mode: alpha;
    }
  }
}

@mixin pseudoAfter($pseudoRadius) {
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: -$pseudoRadius;
    width: $pseudoRadius;
    height: $pseudoRadius;
    background-color: var(--color-background1);
    background-image: $bg-image;

    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);

    @supports (
          mask-image: radial-gradient(
              circle at bottom right,
              transparent 0%,
              transparent $pseudoRadius,
              black $pseudoRadius,
              black 100%
            )
        ) {
      clip-path: none;
      mask-image: radial-gradient(
                      circle at bottom right,
                      transparent 0%,
                      transparent $pseudoRadius,
                      black $pseudoRadius,
                      black 100%
      );
      mask-mode: alpha;
    }
  }
}

.container {
  display: block;
  width: 100%;
  position: relative;

  .topContainer {
    display: flex;
    align-items: stretch;
    position: relative;
    min-height: 2rem;

    .topContent {
      flex-shrink: 0;
      padding: 0 0.5rem 0.5rem 0;

      @include bp.tablet {
        padding: 0 1rem 1.3rem 0;
      }

      @include bp.desktop {
        padding: 0 2rem 2rem 0;
      }
    }

    .space {
      flex-grow: 1;
      background-color: var(--color-background1);
      border-radius: 1rem 1rem 0 0;
      position: relative;
      background-image: $bg-image;
      background-clip: content-box;

      @include pseudoBefore(1rem);

      @include bp.tablet {
        @include pseudoBefore(2rem)
      }

      @include bp.desktop {
        border-radius: 3rem 3rem 0 0;
        @include pseudoBefore(3rem)
      }
    }
  }

  .content {
    background-color: var(--color-background1);
    padding: 0.75rem;
    border-radius: 1.5rem 0 1.5rem 0;
    background-image: $bg-image;

    @include bp.tablet {
      padding: 1.5rem;
    }

    @include bp.desktop {
      border-radius: 3rem 0 3rem 0;
      padding: 3rem;
    }
  }

  .bottomContainer {
    display: flex;
    align-items: stretch;
    position: relative;
    min-height: 2rem;

    .bottomContent {
      position: relative;
      flex-shrink: 0;
      padding: 0.5rem 0 0 0.5rem;

      @include bp.tablet {
        padding: 1.3rem 0 0 1rem;
      }

      @include bp.desktop {
        padding: 2rem 0 0 2rem;
      }
    }

    .space {
      flex-grow: 1;
      background-color: var(--color-background1);
      border-radius: 0 0 1rem 1rem;
      position: relative;
      background-image: $bg-image;

      @include pseudoAfter(1rem);

      @include bp.tablet {
        @include pseudoAfter(2rem)
      }

      @include bp.desktop {
        border-radius: 0 0 3rem 3rem;
        @include pseudoAfter(3rem)
      }
    }
  }
}
