body[data-scroll-locked],
body[data-scroll-locked='1'],
body[data-scroll-locked][style] {
  margin-right: 0 !important;
}

:root {
  --color-background: #111111; //фон
  --color-background1: #2f2f2f4d;
  --color-background2: #353735;
  --color-background3: #000000;
  --color-background4: #232120fc;

  --color-foreground: #111111; //текст
  --color-foreground-light1: #cccccc;
  --color-white-light: #ffffff;
  --color-white: #fefefe;
  --color-white-pressesd: #e7d6c6;
  --color-grey: #f1f1f1;
  --color-grey1: #cccccc;
  --color-grey2: #666666;

  --color-accent-primary: #50f195; //акцент
  --color-accent-active: rgba(89, 187, 131, 1);
  --color-accent-old: rgba(89, 187, 131, 1);
  --color-error: #ff6f61;

  --noise-img: url('data:image/svg+xml,%3Csvg viewBox="0 0 1800 600" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noise"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%" height="100%" filter="url(%23noise)" opacity="0.1"/%3E%3C/svg%3E');
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
  scroll-behavior: smooth;
}

body {
  color: var(--color-foreground-light1);
  background: var(--color-background);
  font-family: var(--font-main), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  //gap: 1rem;

  main {
    width: 100%;
    min-height: 100dvh;
    flex-grow: 1;
    margin: 0 auto;
    //max-width: 1920px;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease-in-out;

    &:hover {
      text-decoration-color: var(--foreground);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
  padding: 0 1.5rem;
  margin: 0 auto;

  @include bp.tablet {
    gap: 60px;
    padding: 0 2rem;
    // max-width: 1500px;
    box-sizing: border-box;
  }

  @include bp.desktop {
    box-sizing: content-box;
    max-width: 1800px;
    gap: 150px;
    padding: 0 3.75rem;
  }
}

.bg {
  @include bp.desktop {
    background-image: url('/image/service-bg-top.png'), url('/image/service-bg-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position:
      100% 0,
      0 100%;
  }
}

h1 {
  color: var(--color-white-light);
  font-family: var(--font-secondary);
  font-weight: 700;
  letter-spacing: 0%;
  text-transform: uppercase;
  font-size: 28px;
  vertical-align: bottom;
  text-align: left;
  line-height: 130%;

  @include bp.tablet {
    font-size: 30px;
    line-height: 100%;
  }

  @include bp.desktop {
    font-size: 64px;
    line-height: 130%;
    margin-block-start: 48px;
  }
}

h2 {
  color: var(--color-grey);
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: lowercase;
  font-size: 16px;
  vertical-align: bottom;
  text-align: left;

  @include bp.tablet {
    font-size: 32px;
  }

  @include bp.desktop {
    font-size: 70px;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
}

h3 {
  color: var(--color-accent-primary);
  font-family: var(--font-main);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
  font-size: 14px;
  text-align: left;

  @include bp.tablet {
    font-size: 16px;
    text-transform: uppercase;
  }

  @include bp.desktop {
    font-size: 28px;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

:root {
  --radius-block: 1rem;
}

@include bp.tablet {
  :root {
    --radius-block: 2.5rem;
  }
}

@include bp.desktop {
  :root {
    --radius-block: 3rem;
  }
}
