:root {
  --color-background: #111111; //фон
  --color-background1: #2f2f2f4d;
  --color-background2: #353735;

  --color-foreground: #111111; //текст
  --color-foreground-light1: #cccccc;
  --color-white: #fefefe;
  --color-grey: #f1f1f1;
  --color-grey1: #cccccc;
  --color-grey2: #666666;

  --color-accent-primary: #50f195; //акцент
  --color-accent-active: #59bb83;
  --color-accent-old: #59bb83;
  --color-error: #ff6f61;
}

html,
body {
  max-width: 100dvw;
  overflow-x: hidden;
  min-height: 100dvh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-main), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  main {
    width: 100%;
    flex-grow: 1;
    margin: 0 auto;
    display: flex;
  }

  a {
    text-decoration: underline;
    text-underline-offset: 2px;
    text-decoration-thickness: 1px;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.2s ease-in-out;

    &:hover {
      text-decoration-color: var(--foreground);
    }
  }
}

h2 {
  color: var(--color-grey);
  font-family: var(--font-secondary);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: lowercase;
  font-size: 16px;
  vertical-align: bottom;

  @include bp.tablet {
    font-size: 32px;
  }

  @include bp.desktop {
    font-size: 70px;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }
}

.container {
  margin: 0 1rem;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}
