.container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 40px 0 0;

  @include bp.tablet {
    gap: 27px;
  }

  @include bp.desktop {
    display: grid;
    grid-template-columns: minmax(0, 1340px) 1fr;
    gap: 32px;
    grid-template-areas:
      'video description'
      'video more';
  }
}

.description {
  grid-area: description;
  font-size: clamp(1rem, 0.672rem + 0.69vi, 1.5rem);
}

.video {
  position: relative;
  grid-area: video;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(47, 47, 47, 0.3);

  &Title {
    display: none;
  }

  &Player {
    aspect-ratio: 16 / 9;
    width: 100%;
    border: none;
    border-radius: 20px;
  }

  @include bp.desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 113px 47px;
    inline-size: 100%;

    &Title {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 115px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 6px 11px;
      border: 1px solid #50f195;
      border-radius: 40px;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      font-family: var(--font-secondary), sans-serif;
    }
  }
}

.more {
  display: flex;
  flex-direction: column;
  grid-area: more;
  gap: 11px;
  font-size: clamp(1rem, 0.672rem + 0.69vi, 1.5rem);

  &Title {
    display: flex;
    align-items: center;
    gap: 11px;
    font-weight: 700;
    font-size: clamp(1rem, -0.143rem + 1.786vi, 2rem);
    text-transform: uppercase;
  }

  @include bp.tablet {
    gap: 8px;

    &Title {
      gap: 8px;
      text-transform: none;
    }
  }

  @include bp.desktop {
    gap: 24px;
    align-self: flex-end;
  }
}

.markdownBody {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, -0.643rem + 1.786vi, 1.5rem);

  p {
    font-size: clamp(1rem, 0.672rem + 0.69vi, 1.25rem);
  }

  a {
    text-decoration-color: var(--color-grey2);
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
  }
}
