.container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  a {
    text-decoration: underline;
  }
}

.title {
  // grid-area: title;
  // font-weight: 700;
  // // font-size: 16px;
  // text-transform: uppercase;
}

.description {
  grid-area: description;
  font-weight: 400;
  font-size: 16px;
}

.video {
  position: relative;
  grid-area: video;

  &__wrapper {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: none;
    width: 100%;
    border-radius: 20px;
    background-color: rgba(47, 47, 47, 0.3);
  }

  &__title {
    position: absolute;
    top: 50px;
    left: 50px;
    display: none;
    border: 1px solid #50f195;
    border-radius: 40px;
    padding: 7px 17px;
    font-family: 'Druk Wide Cyr';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    inline-size: 94px;
    block-size: 33px;
  }

  &__player {
    position: relative;
    aspect-ratio: 16 / 9;
    z-index: 5;
    width: 100%;
    // height: 100%;
    border: none;
    border-radius: 20px;
  }
}

.more {
  display: flex;
  flex-direction: column;
  grid-area: more;
  gap: 11px;

  &__title {
    display: flex;
    align-items: center;
    gap: 11px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
  }
}

@include bp.tablet {
  .container {
    gap: 27px;
  }

  .title {
    // font-size: 32px;
    // text-transform: lowercase;
  }

  .description {
    font-weight: 400;
    font-size: 16px;
    // inline-size: 600px;
  }

  .more {
    gap: 8px;

    &__title {
      gap: 8px;
      text-transform: none;
    }

    &__link {
      font-size: 20px;
    }
  }
}

@include bp.desktop {
  .container {
    display: grid;
    grid-template-columns: minmax(0, 1432) 1fr;
    grid-template-areas:
      // 'title title'

      'video description'
      'video more';
    gap: 32px;
  }

  .title {
    // font-size: 70px;
  }

  .description {
    font-size: 24px;
    // inline-size: 100%; //426px;
  }

  .more {
    gap: 24px;
    align-self: flex-end;

    &__title {
      font-weight: 600;
      font-size: 32px;
    }
  }

  .video {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 113px 47px;
    block-size: auto; //896px;
    inline-size: 100%; //1342px;

    &__wrapper {
      display: block;
    }

    &__title {
      display: block;

      p {
        display: inline-block;
        transform: scale(1.3, 0.9);
      }
    }
  }
}
