.linkText {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-family: var(--font-secondary), 'manropeFont', sans-serif;
  font-size: 0.875rem;
  font-weight: 700;

  @include bp.tablet {
    font-size: 1rem;
  }

  @include bp.desktop {
    font-size: 2.25rem;
  }
}

.container {
  display: flex;
  gap: 0.75rem;

  @include bp.desktop {
    gap: 1.375rem;
  }
}

.icon {
  color: var(--color-accent-primary);
  width: 32px;

  @include bp.desktop {
    width: 44px;
  }
}
