@use 'sass:math';

//$background: rgba(47, 47, 47, 0.3);
//$background: blue;
$background: var(--color-background1);
$bg-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1800 600" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noise"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%" height="100%" filter="url(%23noise)" opacity="0.15"/%3E%3C/svg%3E');
$radius-menu: 1rem;
$radius-menu-tablet: 2.5rem;
$radius-menu-desktop: 2rem;

$radius-block: 1rem;
$radius-block-tablet: 2.5rem;
$radius-block-desktop: 3rem;

$radius-block-short: 1rem;
$radius-block-short-tablet: 1.5rem;
$radius-block-short-desktop: 3rem;

//$big-radius: math.div($radius, 2) * 3;

// Миксин для псевдоэлементов скругления
@mixin rounded-corner($position, $cradius) {
  @supports (
    mask-image: radial-gradient(circle at top left, transparent 0%, transparent $cradius, black $cradius, black 100%)
  ) {
    content: '';
    //width: 100px;
    display: block;
    right: 0;
    position: absolute;
    z-index: 100;
    background-color: $background;
    background-image: $bg-image;

    width: $cradius;
    height: $cradius;

    @if $position == 'top' {
      top: -$cradius;
      mask-image: radial-gradient(circle at top left, transparent 0%, transparent $cradius, black $cradius, black 100%);
    } @else if $position == 'inner-bottom' {
      bottom: 0;
      mask-image: radial-gradient(circle at top left, transparent 0%, transparent $cradius, black $cradius, black 100%);
    } @else if $position == 'inner-top' {
      top: 0;
      right: calc(-1 * $cradius);
      mask-image: radial-gradient(
        circle at bottom right,
        transparent 0%,
        transparent $cradius,
        black $cradius,
        black 100%
      );
    } @else {
      bottom: -$cradius;
      mask-image: radial-gradient(
        circle at bottom left,
        transparent 0%,
        transparent $cradius,
        black $cradius,
        black 100%
      );
    }

    mask-mode: alpha;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0;
  width: min(100%, 1800px);
  background-color: var(--color-background);

  @include bp.tablet {
    padding: 0px;
  }

  @include bp.desktop {
    padding: 5px;
  }
}

.containerHeader {
  display: flex;
  gap: 0;
  width: 100%;
  border: none;

  h1 {
    display: block;
    position: relative;
    text-transform: none;
    color: var(--color-white-light);
    font-family: var(--font-secondary);
    font-weight: 700;
    font-size: var(--section-header-title-size); //16px;
    line-height: 100%;
    margin: 0;
    padding: 0px 1rem 1.3rem 0px;
    color: var(--color-grey);

    &::after {
      @include rounded-corner('inner-bottom', $radius-block-short);

      @include bp.tablet {
        @include rounded-corner('inner-bottom', $radius-block-short-tablet);
      }

      @include bp.desktop {
        @include rounded-corner('inner-bottom', $radius-block-short-desktop);
      }
    }

  }

  .space {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-grow: 1;
    min-height: 1em;
    background-color: $background;
    background-image: $bg-image;
    position: relative;
    border-radius: var(--radius-block) var(--radius-block) 0 0;

    button {
      margin: 12px 10px 0 0;
      display: flex;
      background-color: transparent;
      border: none;
      cursor: pointer;

      @include bp.tablet {
        margin: 23px 31px 0 0;
      }

      @include bp.desktop {
        margin: 51px 51px 0 0;
      }
    }
  }
}

.containerBody {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0;
  width: 100%;
  border: none;
}

.menuSection {
  display: flex;
  flex-direction: column;
  gap: 4px;
  border: none;

  @include bp.tablet {
    gap: 10px;
  }

  @include bp.desktop {
    gap: 20px;
  }
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 16px 8px 16px 4px;
  border-radius: $radius-menu 0 0 $radius-menu;
  //border-top-left-radius: $radius-menu;
  //border-bottom-left-radius: $radius-menu;
  //transition: all 0.2s ease;
  cursor: pointer;
  background: transparent;
  border: none;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: var(--startup-lab-menu-size);
  text-align: left;
  height: 44px;
  gap: 22px;
  position: relative;
  min-width: 44px;

  @include bp.tablet {
    min-width: 66px;
  }

  @include bp.desktop {
    border-radius: $radius-menu-desktop 0 0 $radius-menu-desktop;
  }

  &:hover {
    color: var(--color-accent-primary);
  }

  &.active {
    background: $background;
    background-image: $bg-image;

    color: var(--color-accent-primary);
  }

  // Скругленность для всех пунктов меню кроме первого и последнего
  &:not(:first-child):not(:last-child).active {
    position: relative;

    &::before {
      @include rounded-corner('top', $radius-menu);

      @include bp.desktop {
        @include rounded-corner('top', $radius-menu-desktop);
      }
    }

    &::after {
      @include rounded-corner('bottom', $radius-menu);

      @include bp.desktop {
        @include rounded-corner('bottom', $radius-menu-desktop);
      }
    }
  }

  // Только нижнее скругление для первого элемента
  &:first-child.active {
    position: relative;

    &::after {
      @include rounded-corner('bottom', $radius-menu);

      @include bp.desktop {
        @include rounded-corner('bottom', $radius-menu-desktop);
      }
    }
  }

  // Только верхнее скругление для последнего элемента
  &:last-child.active {
    position: relative;

    &::before {
      @include rounded-corner('top', $radius-menu);

      @include bp.desktop {
        @include rounded-corner('top', $radius-menu-desktop);
      }
    }
  }

  @include bp.tablet {
    padding: 16px 20px;
    height: 34px;
  }

  @include bp.desktop {
    padding: 16px 20px;
    //font-size: 20px;
    height: 56px;
    gap: 10px;
  }

  .menuItemTitle {
    display: none;

    @include bp.desktop {
      display: inline-block;
      width: max-content;
      font-size: 26px;
      font-weight: 700;
      font-family: var(--font-main);
      padding-right: 10px;
    }
  }

  .menuItemNumber {
    display: inline-block;

    @include bp.desktop {
      width: 52px;
    }
  }
}

.contentSection {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.contentBody {
  display: flex;
  color: var(--color-white);
  background-color: $background;
  background-image: $bg-image;
  border-bottom-right-radius: var(--radius-block);
  border-top-left-radius: var(--radius-block);
  overflow-y: auto;
  padding: 20px;
  flex: 1;

  & p {
    color: var(--color-white);
    font-family: var(--font-main);
    font-weight: 400;
  }

  @include bp.tablet {
    font-size: 18px;
    padding: 16px 32px 27px 24px;
  }

  @include bp.desktop {
    font-size: 20px;
    padding: 36px;
  }
}

// Убираем верхний левый радиус у contentBody когда первый элемент меню активен
.containerBody .menuSection:has(.menuItem:first-child.active) ~ .contentSection .contentBody {
  border-top-left-radius: 0;
}

// Убираем нижний левый радиус у contentBody когда последний элемент меню активен
.containerBody .menuSection:has(.menuItem:last-child.active) ~ .contentSection .contentFooter .space {
  border-bottom-left-radius: 0;
}

.contentFooter {
  display: flex;
  position: relative;

  .space {
    flex-grow: 1;
    background-color: $background;
    background-image: $bg-image;
    border-bottom-right-radius: var(--radius-block);
    border-bottom-left-radius: var(--radius-block);
    position: relative;

    &::after {
      @include rounded-corner('inner-top', $radius-block);

      @include bp.tablet {
        @include rounded-corner('inner-top', $radius-block-tablet);
      }

      @include bp.desktop {
        @include rounded-corner('inner-top', $radius-block-desktop);
      }
    }
  }

  .button {
    margin: 0.5rem;
    width: 246px;
    padding: 12px 0;

    @include bp.tablet {
      width: 273px;
      margin: 12px;
    }

    @include bp.desktop {
      width: 443px;
      margin: 20px;
    }
  }
}
