.footer {
  display: flex;
  padding: 1rem;
  border: 1px solid var(--foreground);
  margin: 0 1rem 0.5rem;
  //margin-bottom: 0.5rem;
  font-size: smaller;
  text-align: right;
  justify-content: flex-end;
}

.title {
  font-size: 1rem;

  @include bp.tablet {
    font-size: 2rem;
  }

  @include bp.desktop {
    font-size: 4.375rem;
  }
}
