.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: var(--color-background);
  backdrop-filter: blur(4px);
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: calc(100dvw - 0.1rem);
  max-height: calc(100dvh - 0.1rem);
  background-color: var(--color-background);
  min-width: 150px;
  //border: 1px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .displayNone {
    display: none;
  }

  .displayFlex {
    display: flex;
  }

  .topBlock {
    align-items: flex-start;
    gap: 0.5rem;

    .title {
      flex-grow: 1;
      font-size: 1.2rem;
      padding: 0.5rem;

      &::first-letter {
        text-transform: uppercase;
      }
    }

    .close {
      background-color: transparent;
      border: none;
      color: var(--foreground);
      cursor: pointer;
      padding: 0.5rem;
    }

    &:empty {
      display: none;
    }
  }

  .description {
    display: none;
  }

  .content {
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0.3rem;
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    border-radius: 4px;

    @include bp.tablet {
      right: 2rem;
    }

    @include bp.desktop {
      top: 1rem;
      right: 2rem;
    }

    &:hover {
      color: var(--color-accent-primary);
    }
  }
}

.closeIcon {
  width: 13px;
  height: 13px;

  @include bp.tablet {
    width: 22px;
    height: 22px;
  }

  @include bp.desktop {
    width: 22px;
    height: 22px;
  }
}
