.card {
  position: fixed;
  top: 50%;
  left: 50%;
  opacity: 0;
  visibility: hidden;
  padding: 32px;
  min-height: 292px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(0.8);
  z-index: 2;

  &__open {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  @include bp.tablet {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @include bp.desktop {
    flex-direction: row;
    padding: 64px;
    gap: 40px;
    max-width: 1101px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;

  @include bp.desktop {
    gap: 28px;
    max-width: 710px;
  }
}

.textInfo {
  font-family: var(--font-main);
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 140%;
  vertical-align: middle;
  font-size: 20px;

  .textInfo:first-child {
    font-size: 24px;
  }

  @include bp.tablet {
    display: inline-block;
    width: 80%;
    align-self: center;
    font-size: 16px;
    display: block;
    text-align: center;
    white-space: pre-line;
    line-height: 120%;
  }

  @include bp.desktop {
    align-self: flex-start;
    text-align: start;
    display: inline;
    width: 100%;
    line-height: 140%;
    font-size: 32px;
  }
}

.link {
  background-color: var(--color-white);
  padding: 11px;
  border-radius: 40px;
  color: var(--color-foreground);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  &:not(:disabled):hover {
    background-color: var(--color-accent-primary);
  }

  &:not(:disabled):active {
    opacity: 0.7;
    background-color: var(--color-accent-active);
    color: var(--color-foreground);
    transform: translateY(1px);
  }

  @include bp.tablet {
    padding: 14px;
    font-size: 13px;
  }

  @include bp.desktop {
    margin-block-start: 12px;
    height: 68px;
    padding: 25px;
    font-size: 16px;
  }
}

.button {
  border: none;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: var(--color-accent-primary);
  }

  &:not(:disabled):active {
    opacity: 0.7;
    background-color: var(--color-accent-active);
    color: var(--color-foreground);
    transform: translateY(1px);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.logoContainer {
  position: relative;

  @include bp.tablet {
    align-self: center;
    order: -1;
  }

  @include bp.desktop {
    // align-self: flex-end;
    order: 1;
  }
}

.logo {
  display: none;
  position: static;

  @include bp.tablet {
    margin-block-start: -13px;
    display: flex;
    width: 100px;
    height: 134px;
    transform: rotate(90deg);
  }

  @include bp.desktop {
    margin-block-start: 0px;
    width: 225px;
    height: 300px;
    transform: rotate(0deg);
    display: flex;
    flex-basis: 225px;
  }
}
