.card {
  padding: 32px;
  min-height: 292px;
  justify-content: center;
  align-items: center;

  @include bp.tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include bp.desktop {
    flex-direction: row;
    padding: 64px;
    gap: 40px;
    max-width: 1101px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include bp.desktop {
    gap: 28px;
  }
}

.iconContainer {
  display: none;

  @include bp.tablet {
    display: flex;
    order: -1;
    height: 100px;
    width: 134px;
  }

  @include bp.desktop {
    height: 300px;
    width: 225px;
    order: 1;
  }
}

.textInfo:first-child {
  font-size: 24px;
}

.textInfo {
  font-family: var(--font-main);
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 140%;
  vertical-align: middle;
  font-size: 20px;

  @include bp.tablet {
    display: inline-block;
    width: 80%;
    align-self: center;
    font-size: 16px;
    display: block;
    text-align: center;
    white-space: pre-line;
    line-height: 120%;
  }

  @include bp.desktop {
    align-self: flex-start;
    text-align: start;
    display: inline;
    width: 100%;
    line-height: 140%;
    font-size: 32px;
  }
}

.link {
  background-color: var(--color-white);
  padding: 11px;
  border-radius: 40px;
  color: var(--color-foreground);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-align: center;

  @include bp.tablet {
    padding: 14px;
    font-size: 13px;
  }

  @include bp.desktop {
    margin-block-start: 12px;
    height: 68px;
    padding: 25px;
    font-size: 16px;
  }
}
