.linkMenu {
  // Основной контейнер компонента
  display: flex;
  flex-direction: column;
  gap: 13px;

  @include bp.tablet {
    gap: 8px;
  }

  @include bp.desktop {
    gap: 32px;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.title {
  margin: 0;
  font-family: var(--font-manrope);
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: var(--color-grey);

  @include bp.tablet {
    font-size: 16px;
    font-weight: 600;
    text-transform: none;
  }

  @include bp.desktop {
    font-size: 32px;
    font-weight: 600;
    text-transform: none;
  }
}

.icon {
  width: 32px;
  height: 32px;
  color: var(--color-accent-active);

  @include bp.tablet {
    width: 40px;
    height: 40px;
  }

  @include bp.desktop {
    width: 40px;
    height: 40px;
  }
}

.linkList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include bp.tablet {
    gap: 8px;
  }

  @include bp.desktop {
    gap: 24px;
  }
}

.linkItem {
  margin-bottom: 8px;
}

.link {
  text-decoration: none;
  color: inherit;
  display: block;
  padding: 4px 0;
  font-family: var(--font-manrope);
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline;

  @include bp.tablet {
    font-size: 20px;
  }

  @include bp.desktop {
    font-size: 20px;
  }
}
