.overlay {
  position: fixed;
  inset: 0;
  background: rgb(0 0 0 / 60%);
  z-index: 999;
  opacity: 0;
  transition: all 0.3s ease;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}
