.container {
    background-color: var(--color-background1);
    width: 160px;
    height: 38px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

@include bp.desktop {
    width: 275px;
    height: 64px;
}

}