.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;
}

.description {
  font-size: 12px;
  white-space: pre-line;
}

.title {
  block-size: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.button {
  min-block-size: 38px;
  min-inline-size: 282px;

  span {
    font-weight: 700;
    font-size: 11px;
  }
}

.long {
  display: none;
}

@include bp.tablet {
  .cards {
    gap: 24px;
  }

  .title {
    font-weight: 400;
    font-size: 16px;
    text-transform: none;
    block-size: 70px;
  }

  .description {
    font-size: 16px;
  }

  .button {
    min-inline-size: 632px;

    span {
      font-size: 13px;
    }
  }

  .long {
    display: block;
  }
  .short {
    display: none;
  }

  .subtext {
    white-space: pre-line;
    line-height: 1.1;
  }
}

@include bp.desktop {
  .cards {
    grid-template-columns: repeat(3, 552px);
    margin-block-end: 35px;
  }

  .description {
    font-size: 32px;
    font-weight: 400;
    white-space: initial;
    inline-size: 1432px;
  }

  .title {
    font-size: 40px;
    font-weight: 400;
    block-size: 125px;
  }

  .button {
    min-inline-size: 758px;

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }
}
