.container {
  max-inline-size: 340px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  a {
    text-decoration: underline;
  }
}

.title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  grid-area: title;
}

.description {
  font-size: 16px;
  font-weight: 400;
  grid-area: description;
}

.video {
  grid-area: video;
  position: relative;

  &__wrapper {
    display: none;
    position: absolute;
    inset: 0;
    width: 100%;
    border-radius: 20px;
    z-index: 0;
    background-color: rgba(47, 47, 47, 0.3);
  }

  &__title {
    display: none;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Druk Wide Cyr';
    inline-size: 94px;
    block-size: 33px;
    font-size: 16px;
    font-weight: 700;
    padding: 7px 17px;
    top: 50px;
    left: 50px;
    border-radius: 40px;
    border: 1px solid var(--color-green-primary, #50f195);
  }

  & iframe {
    position: relative;
    z-index: 5;
    height: 186px;
    width: 100%;
    border-radius: 20px;
  }
}

.more {
  display: flex;
  flex-direction: column;
  gap: 11px;
  grid-area: more;

  &__title {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    gap: 11px;
    align-items: center;
    text-transform: uppercase;
  }
}

@include bp.tablet {
  .container {
    max-inline-size: 680px;
    gap: 27px;
  }

  .title {
    font-size: 32px;
    text-transform: lowercase;
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    inline-size: 600px;
  }

  .video {
    & iframe {
      height: 372px;
    }
  }

  .more {
    gap: 8px;

    &__title {
      gap: 8px;
      text-transform: none;
    }
    &__link {
      font-size: 20px;
    }
  }
}

@include bp.desktop {
  .container {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'video description'
      'video more';
    max-inline-size: 1800px;
  }

  .title {
    font-size: 70px;
  }

  .description {
    inline-size: 426px;
    font-size: 24px;
  }

  .more {
    gap: 24px;
    align-self: flex-end;

    &__title {
      font-size: 32px;
      font-weight: 600;
    }
  }

  .video {
    block-size: 896px;
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 1342px;
    block-size: 896px;

    &__wrapper {
      display: block;
    }

    &__title {
      display: block;

      p {
        display: inline-block;
        transform: scale(1.3, 0.9);
      }
    }

    & iframe {
      height: 682px;
      width: 1246px;
    }
  }
}
