.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 1.25rem;
  background-color: var(--color-background1);
  background-image: var(--noise-img);
  padding: 12px 12px 24px;
  transition: all 0.3s ease;

  @include bp.tablet {
    padding: 24px;
  }

  @include bp.desktop {
    width: 100%;
    border-radius: 2.5rem;
    padding: 48px 48px 0;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include bp.tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1.5rem;
  }

  @include bp.desktop {
    flex-direction: row;
    justify-content: space-between;
  }

  h1 {
    padding-bottom: 0;
    padding-left: 0.5rem;
    font-size: 1.75rem;

    @include bp.tablet {
      padding-left: 0;
      line-height: normal;
      font-size: 1.875rem;
    }

    @include bp.desktop {
      max-width: 15ch;
      margin-top: 0;
      line-height: 130%;
      font-size: 4rem;
    }
  }
}

.image {
  margin: 32px 0;

  @include bp.tablet {
    margin: 0;
  }

  @include bp.desktop {
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  width: 100%;
  height: 44px;
  background-color: var(--color-white);
  color: var(--color-foreground);
  font-family: var(--font-secondary), sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  opacity: 1;
  pointer-events: auto;
  //transition: opacity 0.3s ease, transform 2s ease;
  transform: scale(1);

  @include bp.desktop {
    display: none;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
  }
}
