.container {
  border: 1px solid var(--foreground);
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1.5rem;
  gap: 1rem;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;

    @include bp.tablet {
      font-size: 4rem;
    }
  }
}
