.marquee {
  width: 100vw;
  height: 48px;
  background-color: var(--color-accent-primary);
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: var(--color-foreground);
  margin: 2.5rem 0;

  @include bp.tablet {
    height: 48px;
    margin-top: 2.375rem;
    margin-bottom: 2.75rem;
  }

  @include bp.desktop {
    font-size: 16px;
    height: 72px;
    margin-top: 2rem;
    margin-bottom: 150px;
  }
}

.phraseWrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-inline: 5px;
}

.logoIconWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include bp.desktop {
    width: 48px;
    height: 48px;
  }
}

.logoIcon {
  width: 26px;
  height: 35px;
  margin: auto;

  @include bp.tablet {
    width: 26px;
    height: 36px;
  }

  @include bp.desktop {
    width: 34px;
    height: 46px;
  }
}
