.container {
  margin-block-start: 24px;
  width: 110vw !important;
  margin-inline-start: -28px;
  // width: 100%;

  @include bp.desktop {
    margin-block-start: 30px;
  }
  @include bp.desktop {
    width: 140vw !important;
    margin-inline-start: -10%;
  }
}

.marquee {
  height: 38px;
  background-color: transparent;

  @include bp.tablet {
    height: 38px;
    font-size: 16px;
  }

  @include bp.desktop {
    font-size: 32px;
    height: 64px;
  }
}

.dataContainer {
  text-decoration: none;
  //padding-block: auto;
  height: 38px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  min-width: 160px;
  padding-inline: 15px;
  background-color: var(--color-background1);
  border-radius: 40px;
  margin-inline-start: 6px;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  color: var(--color-white);
  font-size: 14px;
  flex-shrink: 0;
  // white-space: nowrap;
  text-align: center;
  line-height: 98%;

  @include bp.tablet {
    height: 38px;
    margin-inline-start: 24px;
  }

  @include bp.desktop {
    width: 275px;
    height: 64px;
    margin-inline-start: 32px;
  }
}

.marqueeLeft {
  margin-block-start: 12px;

  @include bp.tablet {
    margin-block-start: 24px;
  }

  @include bp.desktop {
    margin-block-start: 32px;
  }
}

.name {
  @include bp.desktop {
    font-size: 12px;
  }
}
