.container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include bp.desktop {
    gap: 24px;
  }
}

.text {
  width: 100%;
  font-size: clamp(1rem, 0.8725rem + 0.5229vw, 1.5rem);
  color: var(--color-grey2);

  @include bp.desktop {
    width: auto;
  }
}

.addressBlock {
  display: flex;
  flex-wrap: wrap;

  @include bp.desktop {
    gap: 32px;
  }
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include bp.desktop {
    flex-direction: row;
    gap: 32px;
  }
}