.errorCard :global(button),
.errorCard :global(a),
.errorCard .button {
  background: #50f195;
  color: #111;
  border: none;
}

.errorCard :global(button:hover),
.errorCard :global(a:hover),
.errorCard .button:hover {
  background: #38e07d;
}

.errorCard {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.083rem + 3.056vi, 3.75rem);
  background-color: #232323;
  border-radius: 2rem;
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
  background-image: var(--noise-img);
  padding: clamp(1rem, -0.125rem + 3.75vi, 4.375rem);
}

.field {
  font-size: clamp(1.5rem, 0.667rem + 2.778vi, 4rem);
  font-family: 'drukWideCyrFont', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.text {
  font-size: clamp(1rem, 0.833rem + 0.556vi, 1.5rem);
  color: #fff;
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

.buttons {
  display: flex;
  gap: 5rem;
}
