.errorCard :global(button),
.errorCard :global(a),
.errorCard .button {
  background: #50f195;
  color: #111;
  border: none;
}
.errorCard :global(button:hover),
.errorCard :global(a:hover),
.errorCard .button:hover {
  background: #38e07d;
}
.errorCard {
  background: #232323;
  border-radius: 2rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);

  position: relative;
  overflow: hidden;
  z-index: -11;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 500 800" xmlns="http://www.w3.org/2000/svg"><filter id="noise"><feTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/></filter><rect width="100%" height="100%" filter="url(%23noise)"/></svg>');
    opacity: 0.2; // Adjust noise intensity
  }
}

.field {
  font-family: 'drukWideCyrFont', sans-serif;
  font-weight: 700;
  color: #fff;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  z-index: 2;
}

.text {
  color: #fff;
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

@include bp.mobile {
  .errorCard {
    padding: 0;
    z-index: 3;
  }
  .field {
    font-size: 24px;
    margin-bottom: 28px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 52px;
  }
}

@include bp.tablet {
  .errorCard {
    padding: 0;
    z-index: 3;
  }
  .field {
    font-size: 30px;
    margin-bottom: 23px;
  }
  .text {
    font-size: 16px;
    margin-bottom: 49px;
  }
}

@include bp.desktop {
  .errorCard {
    padding: 215px 296px;
    z-index: 3;
  }
  .field {
    font-size: 64px;
    margin-bottom: 48px;
  }
  .text {
    font-size: 24px;
    margin-bottom: 56px;
  }
}
