.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

  @include bp.desktop {
    background-image: url('/image/main-top.png'), url('/image/main-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position:
      100% 20%,
      100% 90%;
  }
}

// .content {
//   flex-grow: 1;
//   max-width: 1800px;
// }

//.container {
//  display: flex;
//  flex-direction: column;
//  width: 100%;
//  gap: 40px;
//  // padding: 25px;
//
//  @include bp.tablet {
//    gap: 60px;
//    // padding: 29px;
//    max-width: 1500px;
//    box-sizing: border-box;
//  }
//
//  @include bp.desktop {
//    box-sizing: content-box;
//    max-width: 1800px;
//    gap: 150px;
//    // padding: 0 60px;
//  }
//}

// .partnersSection {
//   width: 100vw !important ;

//   h1 {
//     display: inline-block;
//     margin: 0 auto;

//     @include bp.tablet {
//     }
//     @include bp.desktop {
//     }
//   }
// }
