.wrapper {
  //width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @include bp.desktop {
    background-image: url('/image/main-top.png'), url('/image/main-bottom.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 30%,
    120% 90%;
  }
}

.content {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1.5rem;

  @include bp.tablet {
    padding: 2rem;
  }

  @include bp.desktop {
    padding: 0;
  }
}

.partnersSection {
  h1 {
    padding-inline-start: 1.5rem;
    display: inline-block;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;

    @include bp.tablet {
      padding-inline-start: 4rem;
    }
    @include bp.desktop {
      padding-inline-start: 3rem;
    }
  }
}
