.wrapper {
  //width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 40px;

  @include bp.tablet {
    gap: 44px;
  }

  @include bp.desktop {
    gap: 126px;
  }
}

.content {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1.5rem;

  @include bp.tablet {
    padding: 2rem;
  }

  @include bp.desktop {
    padding: 0;
  }
}

.partnersSection {
  h1 {
    padding-inline-start: 1.5rem;
    display: inline-block;
    width: 100%;
    max-width: 1800px;
    margin: 0 auto;

    @include bp.tablet {
      padding-inline-start: 4rem;
    }
    @include bp.desktop {
      padding-inline-start: 3rem;
    }
  }
}
