.wrapper {
  //width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 1.5rem;

  @include bp.tablet {
    padding: 2rem;
  }

  @include bp.desktop {
    padding: 0;
  }
}
