.button {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background-color: rgba(51, 51, 51, 0.5);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  z-index: 10001;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
  transform: translateY(50px) scale(0.7);
  transition: all 0.3s ease;

  @include bp.tablet {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    bottom: 60px;
    right: 60px;
  }

  @include bp.desktop {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    bottom: 70px;
    right: 70px;
  }

}

.visible {
  transform: translateY(0) scale(1);
  opacity: 1;
  pointer-events: auto;
  visibility: visible;

  &:hover {
    transform: translateY(-5px) scale(1.1);
  }

  &:active {
    transform: translateY(0) scale(0.9);
  }
}

.icon {
  width: 30px;
  height: 30px;
  transition: transform 0.5s ease;

  @include bp.tablet {
    width: 35px;
    height: 35px;
  }

  @include bp.desktop {
    width: 40px;
    height: 40px;
  }
}

.rotated {
  transform: rotate(180deg);
}