.container {
  margin: auto;
  width: 60%;

  h1 {
    font-size: 20px;

    @include bp.tablet {
      font-size: 32px;
    }

    @include bp.desktop {
      font-size: 64px;
    }
  }

  @include bp.tablet {
    width: 65%;
  }

  @include bp.desktop {
    width: 70%;
  }
}
