.container {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}

.title {
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 16px;
  text-align: left;

  @include bp.tablet {
    font-size: 32px;
  }

  @include bp.desktop {
    font-size: 70px;
  }
}

.formSection {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include bp.tablet {
    gap: 12px;
  }

  @include bp.desktop {
    gap: 18px;
  }
}

.errorMessage {
  color: var(--color-error);
  font-size: 12px;
  margin-top: 0.25rem;
}

.checkboxGroup {
  display: flex;
  justify-items: center;
  gap: 0.75rem;
  margin-top: 1rem;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1;
  flex: 1;
  font-family: var(--font-main);
  color: var(--color-grey2);

  @include bp.tablet {
    font-size: 16px;
  }

  @include bp.desktop {
    font-size: 24px;
  }

  a {
    color: var(--color-accent-active);
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;

    &:hover {
      color: var(--color-accent-active);
    }
  }
}

.loading {
  opacity: 0.7;
  pointer-events: none;
}

.buttonDesktop {
  display: none;

  @include bp.desktop {
    display: flex;
    width: 731px;
  }
}

.buttonMobileTablet {
  margin-left: 24px;
  margin-right: 24px;
  display: flex;
  align-items: stretch;
  flex-shrink: 1;

  @include bp.desktop {
    display: none;
  }
}

.button {
  width: 100%;
}

.buttonText {
  display: inline-block;
}
