.header {
  display: flex;
  gap: 40px;

  &Title {
    display: flex;
    flex-direction: column;

    h3 {
      font-size: 1rem;
      font-family: var(--font-secondary);
      text-transform: lowercase;

      @include bp.tablet {
        margin-top: 0.5rem;
      }

      @include bp.desktop {
        font-size: 48px;
        margin-top: 0;
        max-width: 890px;
      }
    }
  }
}

.link {
  display: none;
  margin-top: auto;
  background-color: var(--color-white-light);
  color: var(--color-foreground);
  font-family: 'drukWideCyrFont', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 40px;
  padding: 0 40px;
  cursor: pointer;
  text-decoration: none;
  transition:
    background 0.2s,
    color 0.2s,
    opacity 0.2s;

  @include bp.tablet {
    height: 44px;
    font-size: 13px;
  }

  @include bp.desktop {
    max-width: 400px;
    height: 68px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background: #50f195;
    color: #111;
  }

  &:focus-visible {
    background: #59bb83;
    color: #111;
  }

  &:active {
    background: var(--color-accent-primary);
    color: var(--color-foreground);

    @include bp.desktop {
      background: var(--color-background);
      color: var(--color-white-pressesd);
    }
  }
}

.contentCard {
  @include bp.tablet {
    padding: 0;
  }

  @include bp.desktop {
    padding: 60px 40px;
    border-radius: 40px;
    background-color: var(--color-background1);
    //background-image: url('data:image/svg+xml,%3Csvg viewBox="0 0 1800 600" xmlns="http://www.w3.org/2000/svg"%3E%3Cfilter id="noise"%3E%3CfeTurbulence type="fractalNoise" baseFrequency="0.65" numOctaves="3" stitchTiles="stitch"/%3E%3C/filter%3E%3Crect width="100%" height="100%" filter="url(%23noise)" opacity="0.15"/%3E%3C/svg%3E');
  }
}

.content {
  display: grid;
  border-radius: 60px;
  gap: 0.5rem;

  @include bp.tablet {
    gap: 1.5rem;
  }

  @include bp.desktop {
    grid-template-columns: repeat(auto-fit, minmax(552px, 1fr));
    gap: 2rem;
  }
}
