.card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 40px;
  padding: 16px 16px 20px;
  background-color: #353735;
  inline-size: 100%;
  min-block-size: 149px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 7px;
  min-inline-size: 284px;
}

.title {
  color: #50f195;
  font-weight: 700;
  font-size: 14px;
}

.text {
  color: #fefefe;
  font-weight: 400;
  font-size: 13px;
}

.icon {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  padding: 10px;
  background-color: #50f195;

  svg {
    width: 100%;
    height: 100%;
  }
}

@include bp.tablet {
  .card {
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 24px 32px;
    min-block-size: 128px;
  }

  .content {
    gap: 11px;
    min-inline-size: 468px;
  }

  .icon {
    width: 80px;
    height: 80px;
    padding: 16px;
  }

  .title {
    font-weight: 700;
    font-size: 16px;
    text-transform: none;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
  }
}

@include bp.desktop {
  .card {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 32px 32px 48px;
    min-block-size: 296px;
  }

  .icon {
    padding: 20px;
  }

  .content {
    gap: 12px;
    min-inline-size: 488px;
  }

  .title {
    font-size: 28px;
  }

  .text {
    font-size: 20px;
  }
}
