.desktopMenuContainer {
  display: none;

  @include bp.desktop {
    display: flex;
    gap: 32px;
    align-items: center;
    font-family: 'Manrope', Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fefefe;
  }

  a {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: #fefefe;
    text-decoration: none;
    transition: color 0.2s;
    &:hover {
      text-decoration: underline #50f195;
    }
    &:active {
      color: #50f195;
    }
  }
}

.desktopMenuContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 108.5px;
}
